@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f2f5;
}

.divider {
  border-bottom: 1px solid #dadde1;
  align-items: center;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}
